<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="font-weight-normal text-center">フォロワー一覧</h3>
    </div>
  </div>
  <% @users.each do |user| %>
    <div class="row">
      <%= link_to user_path(user) do %>
        <p class="caption"><%= user.user_name %></p>
        <div class="d-flex">
          <%= image_tag user.image.variant(resize: '200x200'), class: 'post-image' if user.image.attached? %>
        </div>
        <p class="caption"><%= "#{user.posts.count} 投稿" %></p>
      <% end %>
    </div>
  <% end %>
  <%= paginate @users %>
  </div>
</div>