<div class="container">
  <h3 class="heading text-center">投稿一覧</h3>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-lg-4 text-center">
        <%= image_tag post.image.variant(resize: '300x300'), class: 'post-image' if post.image.attached? %></br>
        <%= link_to post.title, post_path(post) %></br>
        <%= post.body %></br>
        <%= post.user.user_name %>
        <p class="caption"><%= "#{post.comments.count} コメント" %></p>
      </div>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>