<form class="new-post">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">新規投稿</h1>
  </div>

  <%= form_with model:@post, url: posts_path, local:true do |f| %>

  <div class="form-label-group">
    <h6>タイトル</h6>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-label-group">
    <h6>画像</h6>
    <%= f.file_field :image %>
  </div>

  <div class="form-label-group">
    <h6>本文</h6>
    <%= f.text_area :body, class: "form-control" %></br>
  </div>

  <%= f.submit '投稿', class: "btn btn-outline-success btn-block" %>

<% end %>
</form>