<h1>詳細ページ</h1>
<%= image_tag @post.image.variant(resize: '500x500'), class: 'post-image' if @post.image.attached? %>
<%= @post.title %>
<%= @post.body %>

<%= link_to "編集", edit_post_path(@post) %>

<%= link_to "削除", post_path(@post), method: :delete %>