<!DOCTYPE html>
<html>
  <head>
    <title>EcoShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/5208edfc85.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header>
        <div><%= link_to root_path do %><img src="/assets/header.png" alt="logo" id="logo"><% end %></div>
        <div><%= link_to "トップ", root_path, class: "text-white" %></div>
        <div><%= link_to "投稿する", new_post_path, class: "text-white" %></div>
        <div><%= link_to "投稿一覧", posts_path, class: "text-white" %></div>
        <div><%= link_to "ユーザー", users_path, class: "text-white" %></div>
        <div><%= link_to "マイページ", user_path(current_user.id), class: "text-white" %></div>
        <div><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %></div>
    <% else %>
        <div><%= link_to "新規登録", new_user_registration_path, class: "text-white"%></div>
        <div><%= link_to "ログイン", new_user_session_path, class: "text-white" %></div>
    <% end %>
      </header>

      <div class="row justify-content-end mb-3">
        <%= form_with url: search_posts_path, method: :get, local: true do |f| %>
          <%= f.text_field :search, placeholder: "投稿を検索する" %>
          <%= f.submit '検索する', name: nil %>
        <% end %>
      </div>


    <%= yield %>
  </body>
</html>
